@import url("./sections/banner.css");
@import url("./sections/palettes.css");
@import url('./sections/navbar.css');
@import url('./sections/hero.css');
@import url('./sections/merits.css');
@import url('./sections/footer.css');
@import url('./sections/contact.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
        scroll-behavior: smooth;
}

/*===== DEBUGGER =====*/
/* * {
    border: 1px dashed red;
} */

body {
    background-color: var(--bg);
    color: var(--text-dark50);
}

p {
    font-family: var(--Inter);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-dark100);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Montserrat);
    color: var(--text-dark100);
}


/*===== GE MIG ETT HEM =====*/
    .content-section {
        /* position: relative; */
        padding: 10rem;
    }

    .cs__container {
        display: flex;
        /* flex-direction: row;
        align-items: center; */
        gap: 5rem;
    }

    .cs__content {
        padding: 30px 0;
    }

    .cs__title-topper {
        font-family: var(--Inter);
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: .5em;
        color: var(--primary100);
    }

    .cs__title {
        font-size: 3.6rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: .05em;
        line-height: 1;
    }

    .cs__bread-text {
        margin: 2rem 0;
        font-family: var(--Inter);
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6;
        color: var(--text-dark100);
    }

    .cs__image {
        width: 400px;
        height: 500px;
        aspect-ratio: auto 520 / 680;
    }

    .cs__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2px;
    }

    .cs__button {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: var(--text-dark100);
        color: var(--text-light950);
        font-family: var(--Montserrat);
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        transition-duration: 300ms;
    }

    .cs__button:hover {
        background-color: var(--primary50);
        color: var(--text-light900);
    }


/*===== cs__services STARTSIDA services kanske? =====*/

    #cs__services {
        text-align: center;
        padding: 10rem;
        line-height: 2.2;
    }

    .services__card-wrapper {
        display: flex;
        justify-content: space-between;
        /* gap: 4rem; */
        margin-top: 4rem;
    }

    .services__card {
        max-width: 350px;
        text-align: left;
        /* background: var(--bg-dark); */
        border: 2px solid var(--bg-dark);
        border-radius: 8px;
        padding: 2rem;
    }

    .services__card-title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: .05em;
        line-height: 1;
    }

    .services__card-text {
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 400;
        color: var(--text-dark100);
        max-width: 600px;
        margin: auto;
    }

    .services__card-icon {
        filter: invert(56%) sepia(43%) saturate(1797%) hue-rotate(335deg) brightness(99%) contrast(105%);        height: 3rem;
    }
