.banner {
    position: relative;
    width: 100%;
    min-height: 65vh;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    /* background-image: url('../../images/img__services-banner.jpg'); */
    padding: 0 clamp(1rem, 5vw, 50px);
}

.banner__image-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.banner__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner__image--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--burgundy-dark);
    opacity: 0.7;
    z-index: 1;
}




.banner__content {
    position: relative;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    color: var(--creme-light) !important;
    z-index: 10;
    max-width: 800px;
}

.banner__title-topper {
    font-family: var(--Inter);
    font-size: 0.9rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: var(--orange-dark);
}

.banner__title {
    font-size: clamp(2rem, 8vw, 4rem);
    font-weight: 700;
    margin-top: 1rem;
    text-transform: uppercase;
    color: var(--creme-dark);
    /* text-decoration: underline var(--orange);
    text-underline-offset: 1rem; */
}

.banner__button {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--orange);
    color: var(--creme-light);
    font-size: 1rem;
    font-family: var(--Montserrat);
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms ease;
    transform: scale(1);
}

.banner__button:hover {
    background-color: var(--orange-dark);
    transform: scale(1.05);
}
