.content-section {
    /* position: relative; */
    padding: clamp(2rem, 5vw, 5rem) clamp(1.5rem, 8vw, 10rem);
    width: 100%;
}

.cs__container {
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* gap: 5rem; */
}

.--center-flex {
    flex-direction: column;
    align-items: center;
}

.--side-flex {
    flex-direction: row;
    gap: clamp(2rem, 6vw, 5rem);
    flex-wrap: wrap;
}

.--flex-column {
    flex-direction: column;
}

.cs__content-center {
    margin: auto;
    width: fit-content;
    max-width: min(60rem, 90vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cs__content-side {
    padding: 30px 0;
    margin: auto;
    max-width: min(60rem, 100%);
    text-align: left;
    flex: 1 1 300px;
}

.--bg-light-off {
    background-color: var(--creme-dark);
}

.cs__title-topper {
    font-family: var(--Inter);
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: var(--orange-dark);
}

.cs__title {
    font-size: clamp(2rem, 5vw, 3.6rem);
    font-weight: 700;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1.1;
    /* text-align: left; */
}

.cs__subtitle {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-weight: 700;
    /* margin-bottom: -1.6rem; */
    text-transform: uppercase;
    color: var(--burgundy);
}

.cs__bread-text {
    margin: 2rem 0;
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--burgundy);
    max-width: 60rem;
}

.cs__image {
    max-width: 400px;
    width: 100%;
    aspect-ratio: 4 / 5;
    flex: 1 1 300px;
}

.cs__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.cs__button {
    display: inline-block;
    align-items: center;
    width: fit-content;
    padding: 1rem 2rem;
    background-color: var(--burgundy);
    color: var(--creme-light);
    font-family: var(--Montserrat);
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 300ms;
    transform: scale(1);
}

.external-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}

.cs__button:hover {
    background-color: var(--orange);
    color: var(--creme-dark);
    transform: scale(1.05);
}

.cs__link-external {
    font-family: var(--Inter);
    font-size: 1rem;
    font-weight: 600;
    color: var(--orange-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* text-decoration: underline; */
}

/* Mobile breakpoint */
@media screen and (max-width: 768px) {
    .--side-flex {
        flex-direction: column;
    }
}