.slideshow__container {
    max-width: min(500px, 100%);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1 1 300px;
}

.slideshow__slide {
    display: none;
    width: 100%;
    aspect-ratio: 4 / 5;
}

.slideshow__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.slideshow__btn-prev,
.slideshow__btn-next {
    color: var(--burgundy);
    border: none;
    background-color: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.slideshow__btn-prev:hover,
.slideshow__btn-next:hover {
    color: var(--orange-dark);
}



/* 
.cs__image {
    width: 400px;
    height: 500px;
    aspect-ratio: auto 520 / 680;
}

.cs__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
} */