.cs__contact {
    background-color: var(--burgundy-dark);
    text-align: center;
}

.cs__contact h1 {
    color: var(--creme-dark);
}


.contact__input-wrapper {
    text-align: left;
    color: var(--creme-dark);
    font-family: var(--Montserrat);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: auto;
    gap: 1rem;
}

.contact__input-wrapper input, .contact__input-wrapper textarea {
    width: 100%;
    background: transparent;
    outline: 1px solid var(--burgundy);
    border: none;
    border-radius: 2px;
    color: var(--creme-light);
    font-family: var(--Inter);
    font-size: 1rem;
    font-weight: 500;
    padding: 12px;
}

textarea {
    resize: none;
}

.contact__input-wrapper input:focus, .contact__input-wrapper textarea:focus {
    outline: 1px solid var(--orange-dark);
    /* background: var(--burgundy) */
}

.contact__input-wrapper ::placeholder {
    color: var(--creme-light);
    opacity: 0.1;
}

.contact__button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--burgundy);
    color: var(--creme-light);
    font-size: 1rem;
    font-family: var(--Montserrat);
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 300ms;
    margin-top: 1rem;
    transform: scale(1);
}

.contact__button:hover {
    background-color: var(--orange);
    color: var(--burgundy-dark);
    transform: scale(1.02);
}



/* .input-box input, textarea {
		width: 100%;
		height: 50px;
		margin: 12px 0;
		padding-left: 12px;
		background: #FEE3C8;
		border: none;
		border-radius: 6px;
		color: black;
		font-family:"Poppins", sans-serif;
} */