#cs__merits {
    /* padding: 0 10rem; */
    background-color: var(--text-dark50);
    /* background-color: var(--text-light900); */
    text-align: center;
    
}

.merits__card-container {
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-direction: row;
    gap: 2rem;
    /* margin-top: 3rem; */
    /* color: var(--text-light950); */
}

.merits__card h2{ 
    color: var(--text-light950);
    font-size: 3rem;
    font-family: var(--Montserrat);
}

.merits__card p {
    font-family: var(--Inter);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
    color: var(--text-light900)
}

.merits__card-container li {
    list-style: none;
    gap: 2rem;
}

.merits__card-icon {
    /* color: var(--text-light950); */
    color: var(--primary100);
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    filter: invert(99%) sepia(1%) saturate(1926%) hue-rotate(321deg) brightness(99%) contrast(97%);
}