#cs__index-merits {
    margin: 2.5rem 0;
    padding: 7.5rem 10rem;
    /* padding: 0 10rem; */
    background-color: var(--creme-dark);
    text-align: center;

}

.merits__card-container {
    max-width: 50rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-direction: row;
    gap: 4rem;
    /* margin-top: 3rem; */
    /* color: var(--text-light950); */
}

.merits__card h2{
    color: var(--burgundy);
    font-size: 3rem;
    font-family: var(--Montserrat);
}

.merits__card p {
    font-family: var(--Inter);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
    color: var(--burgundy)
}

.merits__card-container li {
    list-style: none;
    gap: 2rem;
}

.merits__card-icon {
    color: var(--burgundy);
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    filter: invert(8%) sepia(16%) saturate(6331%) hue-rotate(353deg) brightness(91%) contrast(103%);
}