.header__navbar {
    /* position: fixed; */
    position:relative;
    top: 0;
    left: 0;
	display: flex;
    overflow: hidden;
	width: 100%;
	height: 65px;
	justify-content: space-between;
	padding: 0 5vw;
    color: var(--text-light950);
    font-family: var(--Montserrat);
    font-weight: 600;
    text-transform: uppercase;
}

.header__logo img {
    display: block;
    max-width: 200px;
    position: relative
}

.header__menu {
    padding: 20px;
	display: flex;
	align-items: center;

    list-style: none;
}

.header__menu li {
	margin: 0 20px;
    cursor: pointer;
    /* font-size: 1em; */
}

.header__button {
    padding: 0.5rem 1rem;
    background-color: var(--primary50);
    color: var(--text-light950);
    font-size: 0.9rem;
    font-family: var(--Montserrat);
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 300ms;
    transform: scale(1);
}

.header__button:hover {
    background-color: var(--primary100);
    color: var(--text-light950);
    transform: scale(1.05);

}

.header__button:hover a {
    color: var(--text-light950) !important;
}



/* .header__menu a a:link {
    text-decoration: none;
} */

.header__menu--active {
	color: var(--primary50);
	text-decoration: underline 2px;
	text-underline-offset: 10px;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

.header__navbar a:hover {
	color: var(--primary100);
}

