:root {
    --bg-dark: hsl(35, 50%, 90%);
    --bg: hsl(35, 50%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --text-dark50: hsl(20, 100%, 5%);
    --text-dark100: hsl(20, 100%, 10%);
    --text-light950: hsl(35, 50%, 95%);
    --text-light900: hsl(35, 50%, 90%);

    --primary10: hsl(20, 100%, 70%);
    --primary50: hsl(20, 100%, 60%);
    --primary100: hsl(20, 100%, 50%);

    --Montserrat: "Montserrat", sans-serif;
    --Inter: "Inter", sans-serif;
}