#cs__index-services {
    /* background-color: red; */
    padding: 5rem;
}

    .services__card-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .services__card {
        max-width: 350px;
        text-align: left;
        /* background: var(--bg-dark); */
        border: 2px solid var(--bg-dark);
        border-radius: 8px;
        padding: 2rem;
    }

    .services__card-title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: .05em;
        line-height: 1;
    }

    .services__card-text {
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 400;
        color: var(--text-dark100);
        max-width: 600px;
        margin: auto;
    }

    .services__card-icon {
        filter: invert(56%) sepia(43%) saturate(1797%) hue-rotate(335deg) brightness(99%) contrast(105%);        height: 3rem;
    }



.rot-calculator {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.rot__information {
    max-width: 50vw;
    min-width: 300px;
}

.rot__calculator-container {
    min-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rot__calculator-wrapper {
    color: var(--text-dark100);
    text-align: left;
    font-family: var(--Montserrat);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    gap: 1rem;

}

.rot__calculator-label {
    font-family: var(--Montserrat);
    font-weight: 600;
}

.rot__calculator-input {
    width: 100%;
    background: transparent;
    outline: 1px solid var(--text-dark100);
    border: none;
    border-radius: 2px;
    color: var(--text-light950);
    font-family: var(--Inter);
    font-size: 1rem;
    font-weight: 500;
    padding: 12px;
    color: var(--text-dark100);
}

.rot__calculator-wrapper input:focus {
    outline: 2px solid var(--primary100);
}

.contact__input-wrapper ::placeholder {
    color: var(--text-light950);
    opacity: 0.1;
}

.rot__calculator-wrapper button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--text-dark100);
    color: var(--text-light950);
    font-size: 1rem;
    font-family: var(--Montserrat);
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 300ms;
    margin-top: 1rem;
    transform: scale(1);
}

.rot__calculator-wrapper button:hover {
    background-color: var(--primary50);
    transform: scale(1.02);
}

/* .rot__calculator-wrapper label {
    color: black;
} */

#cs__services-calculator {
    padding: 3rem;
    background-color: var(--bg-dark);
    border-radius: 8px;
}

.rot__calculator-total {
    margin-top: 1rem;
}

#totalCost {
    font-size: larger;
    padding: 16px 0;
}
