.footer {
    width: 100%;
    background-color: var(--burgundy-dark);
    color: var(--creme-light);
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 16px;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: clamp(2rem, 5vw, 3rem) clamp(1rem, 3vw, 2rem);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: clamp(1.5rem, 4vw, 2rem);
    text-align: left;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__menu-list-wrapper {
    flex: 1 1 150px;
}

.footer__logo-wrapper img {
    display: block;
    max-width: clamp(180px, 25vw, 300px);
    position: relative;
    filter: invert(99%) sepia(1%) saturate(1926%) hue-rotate(321deg) brightness(99%) contrast(97%);

}

.footer__logo-image {
    width: 100%;
    filter: invert(99%) sepia(1%) saturate(1926%) hue-rotate(321deg) brightness(99%) contrast(97%);

}


.footer__socials-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;}

.footer__social-icon {
    width: 24px;
    height: 24px;
    filter: invert(99%) sepia(1%) saturate(1926%) hue-rotate(321deg) brightness(99%) contrast(97%);
    cursor: pointer;
}

.footer__copyright-text {
    font-size: 0.8rem;
    color: var(--creme-dark);
    margin-top: 1rem;
}






.footer__menu a {
    color: var(--creme-light);
    text-decoration: none;
    margin: 5px 0;
    text-align: left;
}




.footer__menu-list-wrapper {
    color: var(--creme-light);
    list-style: none;
}

.footer__menu-title {
    color: var(--creme-light);
    font-family: var(--Montserrat);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
}

.footer__menu-list {
    margin-top: 0.5rem;
    list-style: none;
    /* text-transform: uppercase; */
    font-size: 0.8rem;
}

.footer__menu-list a:hover {
    color: var(--orange-dark);
    transition-duration: 400ms;
}

.footer__menu-item {
    font-family: var(--Montserrat);
    display: flex;
    align-items: center;
    padding: 0.3rem 0.3rem;
}


.footer__menu-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    filter: invert(99%) sepia(1%) saturate(1926%) hue-rotate(321deg) brightness(99%) contrast(97%);
}
