.section-header {
    margin: auto;
    width: fit-content;
    max-width: min(60rem, 90vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.section-header__topper {
    font-family: var(--Inter);
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: var(--orange-dark);
}

.section-header__title {
    font-size: clamp(2rem, 5vw, 3.6rem);
    font-weight: 700;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1.1;
    font-family: var(--Montserrat);
    color: var(--burgundy);
}

.section-header p {
    margin-top: 1rem;
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--burgundy);
    max-width: 60rem;
}
